@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

$primary-color: #333;
$secondary-color: #fff;

    *{
        font-family: 'Poppins', sans-serif;
        // font-family: 'Roboto', sans-serif;
    }
    html{
        scroll-behavior: smooth !important;
    }


/*********** Header ************/
    header .container {
        position: relative;
        z-index: 2;
    }
  
    header .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 75%;
        width: 100%;
        // background-color: #627760;
        background-color: black;
        opacity: 0.5;
        z-index: 1;
    }
    
    header .navbar {
        position: absolute;
        width: 100%;
        z-index: 3;
    }

    .navbar .nav-item .nav-link{
        color: #fafafa;
    }

    header{
        background-image: url('../../assets/images/graduates.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        // z-index: -100 !important;
        height: 75vh;
        min-height: 20rem;
            
    }

    /*********** Footer ***********/
    .footer{
        background-color: #202020 !important;
        // background-color: #c25929 !important;
        color: white !important;
        padding: 2rem !important;
      }
      .footer-item{
        list-style: none !important;
        font-size: 13px;
        font-weight: 300;
        line-height: 1.85;
      }
      .footer-item:hover{
        color: black !important;
        cursor: pointer !important;
      }
      // .footer-caption{
      //   color:#5D8220 !important;
      // }
      
      .footer-list{
        padding-inline-start: 0% !important;
    } 

     /*********** Vision ***********/
     .vision h3{
        font-weight: 700;
        font-size: 1.125rem;
        letter-spacing: -.01em;
        line-height: 1.4
     }

      /*********** Mission ***********/
      .mission h3{
        font-size: 1.125rem;
        letter-spacing: -.01em;
        line-height: 1.4;
        font-weight: 700;
     }
     .mission .check-icon{
        font-weight: normal;
        margin-right: 1rem;
        // background-color: rgba(51,94,234,.1);
        // height: calc(1em + .5rem);
        // padding-left: .25rem;
        // padding-right: .25rem;
        // border-radius: 10rem;
     }
    .details{
        color: #506690!important;
     }

/*********** Graduate School ***********/

     .graduate_school .font-size-sm {
        font-size: .875rem!important;
        font-weight: 500!important;
        letter-spacing: -.03em;
    }

    .graduate_school .font-weight-bold {
        font-weight: 700!important;
        font-size: 2rem;
        line-height: 1.2;
        color: #537D23;
    }
    .tab-content p{
        text-align: justify;
        // font-size: 1rem;
    }
    .nav-link.active {
        color: #994708 !important;
        border-color: #994708 !important;
    }


    @media screen and (max-width: 1199px) {

       /*********** Jumbotron ***********/
        .jumbotron{
            position: relative;
            padding: 10rem 2rem 0 2rem ;
        }
        
        /*********** Header ***********/
          header .overlay {
            height: 70%;
          }
        
          header {
              height: 70vh;
          }

        .navbar{
            background-color: #212529;
        }
        .navbar .nav-item .nav-link{
            color: #fafafa;
        }
        
    }


    //   Only for desktop screens
    @media screen and (min-width: 1200px) {

        .navbar .nav-item .dropdown-menu{ display: none; }
        .navbar .nav-item:hover .nav-link{ color: #fff;  }
        .navbar .nav-item:hover .dropdown-menu{ display: block; }
        .navbar .nav-item .dropdown-menu{ margin-top:0; }
    
      .navbar .nav-item:hover .dropdown-menu1{ display: none; }
      .navbar .dropend:hover .dropdown-menu1{ display: block; }
      .navbar .nav-item .dropdown-menu,.drop{
        font-size: .9rem !important;
      }
      .dropdown-menu1{
        position: absolute;
        inset: 0px auto auto 0px;
        margin: 0px;
        transform: translate(110px, 0px);
        left: 15%;
        z-index: 2;
        display: none;
        min-width: 10rem;
        padding: .5rem 0;
        margin: 0;
        font-size: .9rem !important;
        color: #212529;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: .25rem;
      }
    
        .navbar{
            background-color: transparent !important;
        }
    
        .navbar-collapse{
            display: flex;
            justify-content: space-around;
        }
          
        .navbar-nav .nav-item .nav-link{
            color: white !important;
            font-size: .9rem !important;
            // letter-spacing: .1rem;
            font-weight: lighter;
        }

        .navbar{
            background-color: transparent !important;
        }
          
        .navbar-nav .nav-item .nav-link{
            color: white !important;
            font-size: .9rem !important;
            // letter-spacing: .1rem;
            font-weight: lighter;
        }
    
        .jumbotron{
            position: relative;
            padding: 15rem 2rem 0 2rem !important;
        }

        /********** Wrapper *********/

        .wrapper {
            position: relative;
          }
          
          .dashed-box {
            position: relative;
            background-color: lightpink;
            z-index: 1;
            // border: dashed;
            height: 11em;
            width: 80%;
            margin-bottom: 1em;
            margin-top: 2em;
            top: -5rem;
          }
          .gold-box {
            position: absolute;
            z-index: 3; /* put .gold-box above .green-box and .dashed-box */
            background: gold;
            width: 80%;
            left: 60px;
            top: -3em;
          }
          .green-box {
            position: absolute;
            z-index: 2; /* put .green-box above .dashed-box */
            background: lightgreen;
            width: 80%;
            left:20%;
            top: 10rem;
            height: 11em;
            opacity: 0.9;
          }

    }